@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


.gameForm{
    display: flex;
    width: 100%;
    height: 100%;
    .form__game--container{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        background-color: black;
        padding: 5%;
        .form__game{
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: self-end;
            justify-content: space-evenly;
            border: 1px solid black;
            background-color: #1F1F1F;
            text-align: justify;
            .form__title--container{
                display: flex;
                width: 100%;
                justify-content: center;
                h2{
                    color: #C6EF24;
                    font-size: 32px;
                    font-family: 'MuseoModerno', cursive;
                    text-align: center;
                }
            }
            .form__buttons--container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 5%;
                margin-bottom: 5%;
                button{
                    width: 28%;
                    padding: .8%;
                    border: none;
                    border-radius: 1.2rem;
                    background-color: black;
                    color: #C6EF24;
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                    margin-top: 1rem;
                }
                button:hover{
                    background-color: #C6EF24;
                    color: black;
                }
            }
            .form__group--container{
                width: 100%;
                height: auto;
                margin-left: 19rem;
                .form-group{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 100%;
                    margin-left: 1.5rem;
                    .form-control{
                        width: 90%;
                    }
                    label{
                        width: 40%;
                        color: white;
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        margin-right: 2rem;
                        margin-top: 20px;
                    }
                    .select__options{
                        font-family: "Poppins", sans-serif;
                        color: #C6EF24;
                        display: flex;
                        justify-content: space-between;
                        width: 25%;
                        margin-top: 2%;
                        span{
                            background-color: black;
                            border: 1px solid black;
                            border-radius: 12px;
                            width: 100%;
                            text-align: center;
                            padding: 2%;
                            margin-right: 10%;
                        }
                    }
                    textarea{
                        width: 90%;
                        height: 300px;
                        font-family: "Poppins", sans-serif;
                        resize: none;
                    }
                    #image{
                        color: #C6EF24;
                        font-family: "Poppins", sans-serif;
                    }
                    small{
                        margin-top: 10px;
                        color: red;
                        font-size: 16px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 100;
                    }
                }
            }
        }

    }
}