@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


// .game-details{
//     width: 100%;
//     height: 100vh;
//     background-color: #1f1f1f;
//     .game_detail--container{
//         width: 100%;
//         height: 100%;
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         .game_detail_img--container{
//             width: 100%;
//             height: 100%;
//             display: flex;
//             justify-content: center;
//             img{
//                 width: 80%;
//                 height: 90%;
//                 object-fit: fill;
//                 image-rendering: auto;
//             }
//         }
// }
// }

.game-details{
    width: 100%;
    min-height: 100vh;
    background-color: #1f1f1f;
    .game_detail--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        .game_detail_name--container{
            margin-bottom: 2rem;
            h2{
                font-family: 'Poppins', sans-serif;
                color: #C6EF24;
                font-size: 3rem;
            }
        }
        .game_detail_img--container{
            width: 90%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 740px;
                height: 400px;	
                object-fit: fill;
            }
        }
        .game_detail_description--container{
            margin-top: 2rem;
            width: 90%;
            p{
                color: white;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                text-align: justify;
            }
        }
        .game_detail_genres--container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                background-color: black;
                width: 15%;
                padding: .5%;
                color: #C6EF24;
                border-radius: 30px;
                text-align: center;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                margin-top: 1rem;
                margin-bottom: 1rem;
                margin-left: 2%;
            }
        }
    }
}

