@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.home__container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.4fr 2.1fr;
    grid-template-rows: 0.2fr 1.8fr; 
    grid-template-areas: 
        "TITLE   NAV"
        "FILTERS HOME"
    ;
    height: 100vh;
    .title__page--container{
        grid-area: TITLE;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        .title__page{
            color: #A1FC2E;
            text-align: center;
            font-family: 'MuseoModerno', cursive;
            font-size: 2.3rem;
        }
    }
    .nav__container{
        grid-area: NAV;
        background-color: black;
        display: flex;
        align-items: center;
        .addgame__container{
            display: flex;
            align-items: center;
            width: 20%;
            justify-content: center;
            p{
                color : #A1FC2E;
                font-family: 'Poppins', sans-serif;
                font-size: 22px;
            }
            p:hover{
                color: white;
            }
        }
        .searchbar__container{
            background-color: black;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            .searchbar__input{
                height: 20%;
                width: 45%;
                padding: 1%;
                border-radius: 12px;
                border: none;
                margin-left: 1%;
            }
            .searchbar__input::placeholder{
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
            }
        }
    .login__container{
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logout__icon{
            border: none;
            color: white;
            font-size: 24px;
            font-family: 'Poppins', sans-serif;
            width: 2em;
            height: 2em;
        }
        .login__icon{
            border: none;
            color: white;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            width: 2em;
            height: 2em;
        }
    }
    }
    .filters__container{
        grid-area: FILTERS;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        .all__filters--container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 60%;
            .user__date--container{
                width: 100%;
                margin-bottom: 40%;
                margin-top: 10%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-family: "Poppins", sans-serif;
                font-size: 22px;
            }
            .filter-by-genre{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 80%;
                .reset__filters{
                    color: white;
                    background-color: #1F1F1F;
                    font-family: "Poppins", sans-serif;
                    text-align: center;
                    padding: 3%;
                    border: 1px solid black;
                    width: 70%;
                    font-size: 18px;
                }
                .button__genre{
                    background-color: black;
                    color: white;
                    font-size: 20px;
                    font-family: 'Poppins', sans-serif;
                    text-align: left;
                    width: 100%;
                }
                .button__genre:focus{color: #A1FC2E;}
                .show__all--genres{
                    font-size: 16px;
                    background-color: black;
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    text-align: left;
                    width: 100%;
                }
            .filter__title{
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 10%;
                margin-top: 20%;
                width: 100%;
                border-bottom: 2px solid #A1FC2E;
                font-size: 24px;
                }
            }
            .filter-by-platforms{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                .show__all--platforms{
                    font-size: 16px;
                    background-color: black;
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    text-align: left;
                    width: 100%;
                }
                .button__platform{
                    background-color: black;
                    color: white;
                    font-size: 20px;
                    font-family: 'Poppins', sans-serif;
                    text-align: left;
                    width: 100%;
                }
                .button__platform:focus{color: #A1FC2E;}
                .filter__title{
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    margin-bottom: 20px;
                    margin-top: 140px;
                    width: 100%;
                    border-bottom: 2px solid #A1FC2E;
                    font-size: 24px;
                }
            }
        }
    }
    .games--home__container{
        grid-area: HOME;
        display: flex;
        flex-direction: column;
        background-color: black;
        .games-orders__container{
            width: 50%;
            margin-top: 10%;
            margin-left: 1%;
            .orders__container{
                display: flex;
                margin-top: 2rem;
                p{
                    color: #A1FC2E;
                    font-family: 'Poppins', sans-serif;
                    margin-right: 2%;
                }
                button{
                    border: none;
                    background-color: #1F1F1F;
                    color: #A1FC2E;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    text-align: center;
                    padding: 1px;
                    border: 1px solid black;
                    border-radius: 15px;
                    width: 6rem;
                }
            }
            h1{
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
                font-size: 2.5rem;
                border-bottom: 2px solid #C6EF24;
            }
        }
        .games__container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .nogames__container{
                color: #A1FC2E;
                font-family: 'Poppins', sans-serif;
                margin-top: 5%;
                font-size: 1.5rem;
            }
            .gamecard__container{
                width: 32%;
                height: auto;
                border-radius: .5rem;
                background-color: #1F1F1F;
                display: flex;
                flex-direction: column;
                transition: transform .5s;
                justify-content: space-around;
                margin: 5px;
                .game__image{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 280px;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px ;
                    }
                }
                .game__platforms--container{
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    margin-left: 4%;
                    margin-top: 2%;
                    svg{
                        color: #A1FC2E;
                        height: 50px;
                        width: 34px;
                        margin-right: 10px;
                    }
                }
                .game__name--container{
                    display: flex;
                    justify-content: center;
                    // margin-left: 3%;
                    margin-top: 2%;
                    h2{
                        color: white;
                        font-family: 'Poppins', sans-serif;
                        font-weight: bold;
                        font-size: 19px;
                    }
                }
            }
            .gamecard__container:hover{transform: scale(1.05)};
        }
    }
}
