@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.home__container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    height: 100vh;
    .nav__container{
        grid-area: 1 / 3 / 2 / 13;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: normal;
        .searchbar__container{
            height: 3rem;
            width: 100%;
            margin-left: 2rem;
            margin-top: 1%;
            background-color: black;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .searchbar__input{
                width: 65%;
                height: 45%;
                padding: 1%;
                border-radius: 12px;
                border: none;
            }
        }
    .login__container{
        margin-top: 10px;
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: black;
            border: none;
            color: white;
            margin-right: 3rem;
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
        }
        svg{
            width: 1.5em;
            height: 1.5em;
        }
    }
    }
    .filters__container{
        grid-area: 1 / 1 / 6 / 3;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        .welcome__content--container{
            p{
                color: white;
                font-family: 'Poppins', sans-serif;
            }
        }
        .all__filters--container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 65%;
            width: 100%;
            height: 100%;
            .filter-by-genre{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                button{
                    background-color: black;
                    color: white;
                    font-size: 20px;
                    font-family: 'Poppins', sans-serif;
                    text-align: left;
                    width: 100%;
                }
                button:focus{color: #A1FC2E;}
                .show__all--genres{
                    font-size: 16px;
                }
            .filter__title{
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-bottom: 20px;
                margin-top: 140px;
                width: 100%;
                border-bottom: 2px solid #A1FC2E;
                font-size: 24px;
                }
            }
            .filter-by-platforms{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                .show__all--platforms{
                    font-size: 16px;
                }
                button{
                    background-color: black;
                    color: white;
                    font-size: 20px;
                    font-family: 'Poppins', sans-serif;
                    text-align: left;
                    width: 100%;
                }
                button:focus{color: #A1FC2E;}
                .filter__title{
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    margin-bottom: 20px;
                    margin-top: 140px;
                    width: 100%;
                    border-bottom: 2px solid #A1FC2E;
                    font-size: 24px;
                }
            }
        }
        .title__page--container{
            .title__page{
                color: #A1FC2E;
                text-align: center;
                font-family: 'MuseoModerno', cursive;
                font-size: 2.5rem;
                margin-left: 1rem;
            }
        }
        
    }
    .games--home__container{
        grid-area: 2 / 3 / 6 / 13;
        display: flex;
        flex-direction: column;
        background-color: black;
        .games-orders__container{
            margin-top:3%;
            margin-left: 1%;
            width: 50%;
            .orders__container{
                display: flex;
                margin-top: 2rem;
                p{
                    color: #A1FC2E;
                    font-family: 'Poppins', sans-serif;
                    margin-right: 2%;
                }
                button{
                    border: none;
                    background-color: #1F1F1F;
                    color: #A1FC2E;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    text-align: center;
                    padding: 1px;
                    border: 1px solid black;
                    border-radius: 15px;
                    width: 6rem;
                }
            }
            h1{
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
                font-size: 2.5rem;
                border-bottom: 2px solid #C6EF24;
            }
        }
        .games__container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .gamecard__container{
                width: 32%;
                height: auto;
                border-radius: .5rem;
                background-color: #1F1F1F;
                display: flex;
                flex-direction: column;
                transition: transform .5s;
                justify-content: space-around;
                margin: 5px;
                .game__image{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 280px;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px ;
                    }
                }
                .game__platforms--container{
                    display: flex;
                    justify-content: flex-start;
                    width: 90%;
                    margin-left: 4%;
                    margin-top: 2%;
                    svg{
                        color: #A1FC2E;
                        height: 50px;
                        width: 34px;
                        margin-right: 10px;
                    }
                }
                .game__name--container{
                    display: flex;
                    justify-content: center;
                    // margin-left: 3%;
                    margin-top: 2%;
                    h2{
                        color: white;
                        font-family: 'Poppins', sans-serif;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }
            .gamecard__container:hover{transform: scale(1.05)};
        }
    }
}